node_modules
.pnpm-store
dist
build
.turbo
.next
.nest
*.tsbuildinfo

.env
.env.local
.env.*.local
*.secret

coverage
.nyc_output

.DS_Store
Thumbs.db

*.log

.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

apps/admin/.next
apps/api/dist
